.toggle {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.toggle--checkbox {
	display: none;
}

.toggle--btn {
	display: block;
	margin: 0 auto;
	font-size: 1.4em;
	transition: all 350ms ease-in;
}
.toggle--btn:hover {
	cursor: pointer;
}

.toggle--btn,
.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature,
.toggle--feature:before,
.toggle--feature:after {
	transition: all 250ms ease-in;
}
.toggle--btn:before,
.toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature:before,
.toggle--feature:after {
	content: '';
	display: block;
}

/* =====================================================
Toggle - knob button style
===================================================== */
.toggle--knob .toggle--btn {
	position: relative;
	width: 150px;
	height: 40px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: #fff;
	background: #a2a2a2;
	box-shadow: inset 0 20px 40px -10px #7e7e7e;
	border-radius: 40px;
}
.toggle--knob .toggle--btn:before {
	display: block;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #f1f1f1;
	box-shadow: 0 4px 10px 0 #999, inset 0 10px 10px 8px rgba(241, 241, 241, 0.6), inset 0 0 8px 0px #333,
		inset 0 0 0 13px #ccc, inset 0 0 0 14px #f1f1f1;
	text-indent: -100%;
}
.toggle--knob .toggle--feature {
	position: relative;
	display: block;
	overflow: hidden;
	height: 40px;
	text-shadow: 0 1px 2px #666;
	font-size: 0.8rem;
}
.toggle--knob .toggle--feature:before,
.toggle--knob .toggle--feature:after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.toggle--knob .toggle--feature:before {
	content: attr(data-label-off);
	left: 15%;
}
.toggle--knob .toggle--feature:after {
	content: attr(data-label-on);
	right: -100%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn {
	background: #a4bf4d;
	box-shadow: inset 0 20px 40px -10px #7b9d25;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn:before {
	left: 0;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:before {
	left: -60%;
}
.toggle--knob .toggle--checkbox:checked + .toggle--btn .toggle--feature:after {
	right: 5%;
}
